@using CRC.WebPortal.BlazorWebApp.Layout
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <h1 class="display-4 text-danger">404</h1>
                            <p class="lead">Sorry, there's nothing at this address.</p>
                            <a href="/" class="btn btn-primary">Go Home</a>
                        </div>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>

    @* Toast Container - Global toast notifications *@
    <ToastContainer />

</CascadingAuthenticationState>
